
body {
    background-image: url("image.png");
}

h1 {
    color: blue;
}

h2 {
    color: brown;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 30px;
    font-weight: bolder;
}

h3{
	color: purple;
	text-align: left;
	font-family: "Courier New";
	font-size: 28px;
	font-weight: bold;
}

h4 {
    color: white;
    font-family: "Times New Roman";
    text-align: center;
    font-size: 25px;
}

h5 {
    color: purple;
    text-align: left;
    font-family: "Courier New";
    font-size: 15px;
}

ul {
	font-family: "Arial";
	font-style: italic;
}

p {
    color:green;
}

#thdisp {
	font-size: 1.5em;
	background: #666;
	color: #FFF;
	padding: 2px 6px;
	border: 1px solid #000;
}

#tddisp{
	font-size: 1.0em;
	padding: 2px 6px;
	border: 1px solid #DDD;
}

#query{
	font-family: courier;
}

.fields{
	color: red;
}

.sqltable{
	color: green;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

#display{
	margin: 12px;
}

.values{
	color: blue;
}